:root{
 --gap: 8px;
 /* --transparency: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill-opacity=".05"><rect width="50" height="50" /><rect x="50" y="50" width="50" height="50" /></svg>')
 0 0 / 20px 20px #f8f8f8; */

}

.header { grid-area: header; }
.footer { grid-area: footer; }
.main { grid-area: main; }
/* .left { grid-area: left; } */
.aside { grid-area: aside; }

body {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header header"
                         "aside main"
                         "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px
                        1fr
                        30px;
    gap: var(--gap);
    min-height: calc(100vh - (2 * var(--gap)));
    background:  conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
	/* background: var(--transparency); */
    background: var(--color);
}
body > * {
    /* display: grid; */
    background: rgba(255, 255, 255, 0.493);
    
    border-radius: 10px;
	font: 100%/1.6 Helvetica Neue, sans-serif;
}

@media screen and (max-width: 600px) {
    body {
        grid-template-areas: "header"
                              "aside"
                              "main"
                              /* "left" */
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px
                           50px
                           1fr
                           /* 50px */
                            30px;
    }
}